<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Search hashtags on Twitter</title>
</head>

<body>
    <div ng-app="myApp" ng-controller="sendCtrl">
       
        <p>Enter Hashtag: <br>
            <input type="text" name="nameHT" ng-model="nonameHT" ng-change="onChange()"  required>

                <span style="color:red" ng-show="showError"> {{ message }} </span>
        </p>

        <p>Date From: 
            <input type="date" ng-model="dateFrom" ng-required="true" close-on-date-selection="true">

            Date To:
            <input type="date" ng-model="dateTo" ng-required="true" close-on-date-selection="true">            
        </p>

        <button ng-click="onPressHT()"> Send </button>

        <div ng-repeat="tweet in tweets">
                <div ng-repeat="info in tweet">
                    <p>
                        Lugar: {{ info.location }} <br>
                        Fecha: {{ info.created_at }} <br>
                        Tweet: {{ info.text }}
                    </p>
                </div>            
        </div>
    </div> 

    <script src="js/js/angular.min.js"></script>
    <script src="js/main.js"></script> 
    <script src="js/controllers/sendCtrl.js"></script>

</body>
</html>